@model IEnumerable<TesteBenner.DAO.Entities.Parametro>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p class="text-right">
    <a asp-action="InserirParametro" class="btn btn-primary">Cadastrar novo parâmetro</a>
</p>
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VigenciaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VigenciaFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorHoraInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorHoraFinal)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VigenciaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VigenciaFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorHoraInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorHoraFinal)
            </td>
        </tr>
}
    </tbody>
</table>
